/* .explore-and-travel {
    display: flex;
    
} */

.explore-and-travel {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 2rem;
    /* justify-content: space-between; */
    /* align-items: center; */
    background: url("../images/image1.svg") right center no-repeat;
}

.plus-near-title_explore-and-travel {
    margin-left: 3rem;
    margin-right: 1rem;
    /* width: 100%; */
}

.explore_and_travel-title {
    width: 70%;
    max-width: 70%;
    font-size: 3.5rem;
    margin: auto;
    font-family: Playfair Display, serif;
    font-weight: bold;
    color: black;
}

.text_and_plus {
    display: initial;
}

.explore-and-travel__line {
    width: 32px;
}

#circle_near_section1 {
    width: fit-content;
    position: relative;
    right: 80px;
}

.explore-and-travel__wrapper_around_selects {
    display: flex;
}

.select {
    padding: 5px 25px;
    width: 180px;
    height: 40px;
    margin: 15px 24px 15px 0;
    cursor: pointer;
    nav-down: auto;
    background-color: white;
    /*box-shadow: 0 2px 0 white;*/
    -webkit-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M1.44196 0.272727L4.15625 3.18182C4.49554 3.54545 5.00446 3.54545 5.34375 3.18182L8.05803 0.272727C8.39732 -0.0909091 8.90625 -0.0909091 9.24553 0.272727C9.58482 0.636364 9.58482 1.18182 9.24553 1.54545L5.34375 5.72727C5.00446 6.09091 4.49554 6.09091 4.15625 5.72727L0.254464 1.54545C-0.0848214 1.18182 -0.0848214 0.636364 0.254464 0.272727C0.59375 -0.0909091 1.10268 -0.0909091 1.44196 0.272727Z" fill="%234A4C53"/> </svg> ');
    background-position: right 20px top 55%;
    background-repeat: no-repeat;
    background-size: 10px;
    border-radius: 5px;
    border: #c0c0c0 solid thin;
}

.explore-and-travel__circle_at_the_end {
    margin-top: 1rem;
    width: 50%;
    height: 20px;
    background: url("../images/circle_grad_2.svg") right 20% top 0 no-repeat;
}

@media screen and (max-width: 800px) {
    .explore-and-travel {
        align-items: center;
    }
    .text_and_plus {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .plus-near-title_explore-and-travel {
        display: none;
    }
    .select {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

@media screen and (max-width: 500px) {
    .explore-and-travel__wrapper_around_selects {
        flex-direction: column;
    }
    #circle_near_section1 {
        display: none;
    }
}