.featured-destinations__circle {
    width: 100%;
    height: 20px;
    background-image: url("../images/circle_grad_2.svg");
    background-repeat: no-repeat;
    background-position: right 15% top 0;
}

.featured-destinations {
    margin: 10rem 10rem 0;
    /*margin-top: 10rem;*/
}

.featured-destinations__title_and_link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.orange-text {
    font-size: 1.1rem;
    color: #ff9c00;
    text-decoration: none;
}

.featured-destinations__images {
    width: 100%;
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
}

.text-near-image {
    padding: 0 0 5px 7px;
    align-self: center;
    align-items: center;
    background-color: white;
    position: relative;
    margin-top: -4rem;
    left: -5px;
    width: 100px;
    height: 40px;
    border-radius: 7px;
}

.featured-destinations__text_and_image {
    width: 22%;
    height: 250px;
    border-radius: 6px;
}

.featured-destinations__image {
    width: 100%;
    height: 250px;
}

.text-title-of-place {
    position: relative;
    bottom: 2rem;
}

.featured-destinations__circle_at_the_end {
    width: 100%;
    height: 80px;
    background-image: url("../images/circle_grad_2.svg");
    background-position: left 45% top 3rem;
    background-repeat: no-repeat;
}

@media screen and (max-width: 800px) {
    .featured-destinations {
        margin: 5rem 10% 0;
    }
    .featured-destinations__images {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        justify-content: space-between;
    }
    .featured-destinations__text_and_image {
        width: 80%;
        height: fit-content;
        border-radius: 6px;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 500px) {
    .text-near-image.invisible {
        display: none;
    }
}