footer {
    margin: 5rem 10rem 2rem;
}


/* #rights-reserved {
    float: right;
} */

.footer__title {
    display: flex;
    justify-content: space-between;
}

.social-media-images {
    width: 200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 800px) {
    footer {
        margin: 3rem 10% 1rem;
    }
}