@import "explore-and-travel-section.css";
header {
    margin-left: 8rem;
    margin-right: 10rem;
}

nav {
    flex: 5;
    width: 90%;
    margin-right: 5rem;
}

.header__menu {
    margin-top: 0.8rem;
    width: 32px;
    align-items: center;
    display: none;
}

.flex-parent {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.header__nav-ul {
    padding-inline-start: 0;
    list-style-type: none;
    justify-content: space-between;
    margin-top: 1rem;
    margin-right: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.element-of-nav-menu {
    font-family: Inter, serif;
    margin: 0.1rem;
}

.link_for_nav {
    text-decoration: none;
    color: silver;
}

.element-of-nav-menu:first-child .link_for_nav {
    color: black;
}

.button-in-nav-menu {
    margin-top: 0;
}

.login {
    margin-right: -1rem;
    width: 8rem;
    background-color: #ffffff;
    color: #ff9c00;
    padding: 0.7rem 20px;
    border-radius: 0.5rem;
    border: #ff9c00 1px solid;
}

.orange_button {
    margin-left: 0.2rem;
    width: 8rem;
    background-color: #ff9c00;
    color: white;
    padding: 0.7rem 20px;
    border-radius: 0.5rem;
    border: #ff9c00 1px solid;
}

@media screen and (max-width: 800px) {
    header {
        width: 100%;
        margin: 0 auto;
    }
    nav {
        margin-right: 0;
    }
    .flex-parent {
        margin-right: 0;
    }
    .login {
        margin-right: 0.1rem;
    }
}

@media screen and (max-width: 500px) {
    nav {
        flex: 0;
        width: auto;
        margin-right: auto;
        background-color: cornsilk;
        width: 100%;
        position: fixed;
        padding-top: 2rem;
        top: 5rem;
        left: 0;
        right: 0;
        bottom: 0;
        clip-path: inset(1000px 0px);
        transition: clip-path 0.9s ease-in;
    }
    nav.open {
        clip-path: inset(0px 0px);
    }
    .flex-parent {
        margin-top: 0%;
    }
    .header__nav-ul {
        flex-direction: column;
    }
    .header__menu {
        display: flex;
    }
    .element-of-nav-menu {
        margin-bottom: 5%;
    }
    .button-in-nav-menu {
        margin-bottom: 5%;
    }
    .link_for_nav {
        color: #000;
    }
    .login {
        margin-right: 0%;
    }
}