.explore-and-travel {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    justify-content: space-between;
}

.part_of_explore-and-travel {
    width: 80%;
}

.explore_and_travel-title {
    width: 400px;
    font-size: 3rem;
    font-family: Playfair Display, serif;
    font-weight: bold;
    color: black;
}

.text_and_plus {
    display: flex;
}

.select {
    padding: 5px 25px;
    width: 150px;
    height: 40px;
    margin: 15px 24px 15px 0;
    cursor: pointer;
    nav-down: auto;
    background-color: white;
    /*box-shadow: 0 2px 0 white;*/
    -webkit-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M1.44196 0.272727L4.15625 3.18182C4.49554 3.54545 5.00446 3.54545 5.34375 3.18182L8.05803 0.272727C8.39732 -0.0909091 8.90625 -0.0909091 9.24553 0.272727C9.58482 0.636364 9.58482 1.18182 9.24553 1.54545L5.34375 5.72727C5.00446 6.09091 4.49554 6.09091 4.15625 5.72727L0.254464 1.54545C-0.0848214 1.18182 -0.0848214 0.636364 0.254464 0.272727C0.59375 -0.0909091 1.10268 -0.0909091 1.44196 0.272727Z" fill="%234A4C53"/> </svg> ');
    background-position: right 20px top 55%;
    background-repeat: no-repeat;
    background-size: 10px;
    border-radius: 5px;
    border: #c0c0c0 solid thin;
}