.yes_its_circle {
    position: relative;
    float: right;
    /*margin-right: 5rem;*/
    right: 10rem;
    /*left: 45rem;*/
    top: 1rem;
}

.featured-destinations {
    margin: 10rem 10rem 0;
    /*margin-top: 10rem;*/
}

.title-of-featured-destinations {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.orange-text {
    font-size: 1.1rem;
    color: #ff9c00;
}

.images-from-featured-destinations {
    width: 100%;
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
}

.text-near-image {
    padding: 0 0 5px 7px;
    align-self: center;
    align-items: center;
    background-color: white;
    position: relative;
    /*top: 190px;*/
    margin-top: -4rem;
    left: -5px;
    width: 100px;
    height: 40px;
    border-radius: 7px;
}

.div-above-image-under-featured-destinations {
    width: 22%;
    height: 250px;
}

.image-under-featured-destinations {
    width: 100%;
    height: 250px;
}

.text-title-of-place {
    position: relative;
    bottom: 2rem;
}

.fifth-circle {
    /*float: right;*/
    margin-top: 3rem;
    margin-left: 25rem;
}