header {
    margin-left: 8rem;
    margin-right: 5rem;
}

p {
    font-family: Inter, serif;
    color: silver;
    font-size: 0.8rem;
}

.title_of_section {
    font-family: Playfair Display, serif;
    font-size: 2rem;
}


.flex-parent {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    /*align-content: end;*/
    /*align-items: end;*/
}

/*.flex-parent p {*/
/*    color: #a0a0a0;*/
/*}*/

#nav {
    flex: 5;
    width: 100%;
    margin-right: 5rem;
}

.navigation-header {
    justify-content: space-between;
    margin-top: 1rem;
    margin-right: 5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#home {
    margin-top: 0.7rem;
}

.logo {
    margin-top: 1rem;
    width: 80%;
    flex: 4;
    align-items: center;
    align-self: center;
    align-content: center;
}

/*.flex-child {*/
/*    align-content: start;*/
/*    width: fit-content;*/
/*    !*align-self: start;*!*/
/*    !*align-items: center;*!*/
/*    flex: 1;*/
/*    margin: 0 10px;*/
/*}*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.element-of-nav-menu {
    font-family: Inter, serif;
    color: silver;
    margin-top: 1rem;
}

.link_for_nav {
    /*margin-top: 8rem;*/
    text-decoration: none;
    color: silver;
}

.first-link_for_nav {
    margin-top: 2rem;
    text-decoration: none;
    color: black;
}

.button-in-nav-menu {
    margin-top: 0;
}

p {
    display: inline-block;

}

.login {
    margin-top: 10px;
    width: 6rem;
    background-color: #ffffff;
    color: #ff9c00;
    padding: 6px 20px;
    border-radius: 6px;
    border: #ff9c00 1px solid;
}

.orange_button {
    width: 6rem;
    margin-top: 10px;
    background-color: #ff9c00;
    color: white;
    padding: 6px 20px;
    border-radius: 6px;
    border: #ff9c00 1px solid;
}


.explore-and-travel {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    justify-content: space-between;
}

.part_of_explore-and-travel {
    width: 80%;
}

.image {
    width: 100%;
}

#explore_and_travel {
    width: 400px;
    font-size: 3rem;
    font-family: Playfair Display, serif;
    font-weight: bold;
    color: black;
}

#plus {
    position: relative;
    top: 3.5rem;
}

#circle_near_section1 {
    position: relative;
    right: 80px;
}

.text_and_plus {
    display: flex;

}

.select {
    padding: 5px 25px;
    width: 150px;
    height: 40px;
    margin: 15px 24px 15px 0;
    cursor: pointer;
    nav-down: auto;
    background-color: white;
    /*box-shadow: 0 2px 0 white;*/
    -webkit-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M1.44196 0.272727L4.15625 3.18182C4.49554 3.54545 5.00446 3.54545 5.34375 3.18182L8.05803 0.272727C8.39732 -0.0909091 8.90625 -0.0909091 9.24553 0.272727C9.58482 0.636364 9.58482 1.18182 9.24553 1.54545L5.34375 5.72727C5.00446 6.09091 4.49554 6.09091 4.15625 5.72727L0.254464 1.54545C-0.0848214 1.18182 -0.0848214 0.636364 0.254464 0.272727C0.59375 -0.0909091 1.10268 -0.0909091 1.44196 0.272727Z" fill="%234A4C53"/> </svg> ');
    background-position: right 20px top 55%;
    background-repeat: no-repeat;
    background-size: 10px;

    border-radius: 5px;
    border: #c0c0c0 solid thin;
}

.orange_button2 {
    min-width: 7.5rem;
    width: max-content;
    margin-top: 20px;
    background-color: #ff9c00;
    color: white;
    padding: 10px 25px;
    border-radius: 6px;
    border: #ff9c00 1px solid;
}

#one_more_circle {
    /*float: right;*/
    /*margin-right: 30rem;*/
    margin-left: 30rem;
    width: 20px;
}


.explore-the-world {
    display: flex;
    margin-top: 15rem;
    padding-left: 5%;
    width: 95%;
}

.part_of_section_2 {
    width: 70%;
    margin-left: 2rem;
    margin-top: 3rem;
    margin-right: 15rem;
}

.paragraph {
    line-height: 20px;
}

#one_more_plus {
    position: relative;
    bottom: 15rem;
}

.third_circle {
    position: relative;
    float: right;
    right: 2rem;
    /*left: 20rem;*/
    top: 1rem;
}

.yes_its_circle {
    position: relative;
    float: right;
    /*margin-right: 5rem;*/
    right: 10rem;
    /*left: 45rem;*/
    top: 1rem;
}

.featured-destinations {
    margin: 10rem 10rem 0;
    /*margin-top: 10rem;*/
}

.title-of-featured-destinations {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.orange-text {
    font-size: 1.1rem;
    color: #ff9c00;
}

.images-from-featured-destinations {
    width: 100%;
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
}

.text-near-image {
    padding: 0 0 5px 7px;
    align-self: center;
    align-items: center;
    background-color: white;
    position: relative;
    /*top: 190px;*/
    margin-top: -4rem;
    left: -5px;
    width: 100px;
    height: 40px;
    border-radius: 7px;
}

.div-above-image-under-featured-destinations {
    width: 22%;
    height: 250px;
}

.image-under-featured-destinations {
    width: 100%;
    height: 250px;
}

.text-title-of-place {
    position: relative;
    bottom: 2rem;
}

.fifth-circle {
    /*float: right;*/
    margin-top: 3rem;
    margin-left: 25rem;
}

footer {
    margin: 5rem 10rem 2rem;
}

#rights-reserved {
    float: right;
}

.social-media-images {
    width: 200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}